<div class="buttonHolder">
  <h2>Sign up</h2>
</div>
<div>
  <form class="form-1" action="/signup" method="post">
    <p class="field">
      <input type="text" name="login" placeholder="Username">
      <i class="icon-user icon-large"></i>
    </p>
    <p class="field">
     <input type="password" name="password" placeholder="Password">
     <i class="icon-lock icon-large"></i>
    </p>
    <div class="buttonHolder">
      <button class="sign" type="submit"> Sign Up</button>
    </div>
  </form>
      <div class="buttonHolder">
        <button class="sign" ng-click="goBack()"> Log In</button>
      </div>
</div>

